body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
  background-color: #f7f1e3;
}

.envelope {
  position: absolute;
  border: 3px solid #ccc;
  width: 700px;
  height: 350px;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  background-color: #ecf0f1;
}

.stamp {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70px;
  height: 80px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #777;
}

img {
  height: 90px;
  width: 100px;
}

.to-label {
  position: absolute;
  left: 280px;
  top: 150px;
}

.from-label {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Media Queries */
@media screen and (max-width: 794px) {

  .envelope {
    width: 600px;
    height: 350px;
  }

  .to-label {
    left: 230px;
    top: 155px;
  }
}

@media screen and (max-width: 630px) {
  .envelope {
    width: 500px;
    height: 300px;
  }

  .to-label {
    left: 185px;
    top: 140px;
    font-size: 15px;
  }

  .from-label {
    font-size: 15px;
  }
}

@media screen and (max-width: 530px) {
  .envelope {
    width: 400px;
    height: 250px;
  }

  .to-label {
    left: 150px;
    top: 125px;
    font-size: 12px;
  }

  .from-label {
    font-size: 12px;
    top: 19px;
    left: 15px;
  }

  img {
    height: 70px;
    width: 80px;
  }

  .stamp {
    top: 2px;
    right: 2px;
  }
}

@media screen and (max-width: 430px) {
  .envelope {
    width: 300px;
    height: 200px;
  }

  .to-label {
    left: 110px;
    top: 100px;
    font-size: 10px;
  }

  .from-label {
    font-size: 10px;
    top: 15px;
    left: 12px;
  }

  img {
    height: 60px;
    width: 70px;
  }

  .stamp {
    top: -3px;
    right: 0px;
  }
}
